.header__link {
    font-size: 14px;
    line-height: 17px;
    color: #a9a9a9;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 5px 30px 0 0;
    text-decoration: none;
}

.header__link:hover {
    opacity: 0.8;
}


@media (min-width: 890px) {
    .header__link {
        font-size: 18px;
        line-height: 22px;
        margin-left: 0;
    }
}