.page {
    max-width: 1280px;
    min-width: 320px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding-top: 28px;
    margin: auto;
    min-height: 100vh;
}

@media (min-width: 890px) {
    .page {
        padding-top: 45px;
    }
}
